* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  text-align: center;
}
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#navbar li {
  float: left;
}

#navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar li a:hover {
  background-color: #111;
}
.active {
  /* background-color: black; */
  color: red;
}
#home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #262626;
  color: lightgreen;
  /* display: none; */
}
#about {
  display: none;
  margin-top: 20px;
  padding: 20px;
}
#services {
  display: none;
  margin-top: 20px;
  padding: 20px;
}
#contact {
  display: none;
  margin-top: 20px;
  padding: 30px;
  background-color: #262626;
  color: white;
  font-size: 1.2rem;
}
